@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


/* default.css */
* {margin:0; padding:0;}
a {text-decoration:none;}
li {list-style: none;}
img {border: none; vertical-align: top; width:100%; height:auto;}

body {font-family:'Kode Mono', Anta, Arial, Helvetica, sans-serif; font-size:20px;}

/* 로고 */
.logo {position:fixed; z-index:99; left:0px; top:24px;}

/* GNB */
#menu {position:fixed; z-index:99; right:24px; top:32px;}
#menu li {display:inline-block;}
#menu a {position:relative; top:5px; font-family : Anta, sans-serif; color:#fff; padding:10px 15px 10px; transition:.3s;}
#menu li.active a {color:#f00;}
#menu a:hover {top:10px;}

/* 오른쪽 페이저 버튼 색 */
#fp-nav ul li a span {background:#ccc; color:black;}
/* 오른쪽 페이저 툴립 글자 색 */
#fp-nav ul li .fp-tooltip {font-family:'Kode Mono', sans-serif;color:#ccc;}

/* 전체 섹션 */
h1 {font-family : Anta, sans-serif; text-align:center; font-size:3rem;}
p {font-family : 'Kode Mono', sans-serif; text-align:center; font-size:1rem; margin-top:30px;}
.section {height : 100vh; overflow : hidden; font-family: 'Kode Mono', sans-serif; color:#fff;}
.fp-tableCell {text-align:center;}

/* 1 페이지 - 회사소개 */
/* 비디오 */
#vid {position:absolute; width:100%; z-index:-1; left:0; top:-80px;}
#vid video {width:100%; min-width:1600px; object-fit: cover;}

/* 타이틀 */
.s1 h1 {font-size:60px;font-family: 'Kode Mono', sans-serif;font-weight:normal; color:#fff;}
.s1 h2 {font-size:30px; margin:16px 0 64px;font-weight:normal;}
.s1 p a {display:inline-block; font-size:18px; color:#fff; text-decoration:none; border:2px solid #fff; width:300px; height:50px; text-align:center; line-height:50px;}
.s1 p a:first-of-type {margin-right:20px;}
.s1 p a:hover {background:#fff; color:#000; font-weight:bold;}
.s1 {text-align:center;}
.s1 .title {display:inline-block; vertical-align:middle;}

/* 2 페이지 - 디스코그래피 */
.s2 {background-color: #000 !important;}
.s2 h1 {color:#fff;}
.s2 p {color:#fff;}
.s2 #tab_wrap {height:400px; background:#8b0000;}
.s2 #tab{width:1600px; margin:80px auto;}
.s2 #tab>ul>li{display:inline-block; width:150px; height:50px; line-height:50px; margin-bottom:30px; background:#1c1c1c; text-align:center; color:#fff; cursor:pointer;  font-size:1rem; color:#fff; margin-right:-12px;}
.s2 #tab>ul>li:first-of-type {background-color:#fff; color:#1c1c1c;}

.s2 #tab div{display:none;}
.s2 #tab div ul{height:400px;}
.s2 #tab div li{position:relative; display:inline-block; width:285px; height:270px; box-sizing:border-box; margin:0 10px; background:no-repeat 50% 50%/80%;}
.s2 #tab div:nth-of-type(1) {display:block;}

/* 3 페이지 - 뉴스 */
.s3 {background-color: #003c8b !important;}
.s3 .fp-tableCell {vertical-align:top;}
.s3 h1 {color:#fff;position:relative; left:50%; transform:translateX(-50%); top:120px; margin-top:50px;}
.s3 p {color:#fff;position:relative; left:50%; transform:translateX(-50%); top:100px;}

.s3 #slide {position:relative; text-align:center; width:1200px; height:488px; margin:150px auto; overflow:hidden;}
.s3 #slide .slide img {width:1200px; position:relative;}

/* 슬라이드 페이저 버튼 위치, 색 */
.fp-slidesNav ul {text-align:center; margin-bottom:70px;}
.fp-slidesNav ul li a span {background:#fff; border-radius:0 !important;}
/* 슬라이드 좌우 버튼 위치 */
.fp-controlArrow {width:25px; height:25px; padding:7px;}
.fp-controlArrow.fp-prev {border-width:0; width:25px; left:0px; background:rgba(204,204,204,0.3) url('../images/ico.png') no-repeat -3px -380px; border-color:transparent; transition:.3s; transform:rotate(180deg);}
.fp-controlArrow.fp-next {position:absolute; border-width:0; right:0px; background:rgba(204,204,204,0.3) url('../images/ico.png') no-repeat -3px -380px; border-color:transparent; transition:.3s;}
.fp-controlArrow.fp-prev:hover {background-color:#fff;}
.fp-controlArrow.fp-next:hover {background-color:#fff;}

/* 이벤트 버튼 */
.s3 .slide .event_txt a {text-decoration:none; color:#fff; border:2px solid #fff; padding:15px 30px; font-size:14px; position:absolute; top:400px; margin-left : 400px;}


/* 4 페이지 - 고객서비스 */
.s4 {background-color: #008b4f !important; position:relative;}
.s4 h1 {position:absolute; left:50%; transform:translateX(-50%); top:170px;}
.s4 p {color:#fff;}
.s4 .login a {display:inline-block; margin:0 10px; width:150px; color:#fff; background:#002c52; padding:15px 0px; font-size:14px;}

/* 슬라이드이미지 */
div.bx-wrapper {border: none; background:transparent; margin-top:50px;}
#mainImg {position:relative; width:1200px; margin:0 auto; text-align:left; font-size:1rem;font-family:'Kode Mono', sans-serif;}

/* 좌우 버튼 */
#mainImg .btn {position:absolute; top:50%; transform:translateY(-50%); font-size:5em; color:#fff;}
#mainImg .pBtn {left:20px;}
#mainImg .nBtn {right:20px;}

/* 페이저 */
#mainImg .pager {position:absolute; left:0; bottom:5%; width:100%; text-align:center;}
#mainImg .pager li {display:inline-block; background:#ccc; width:7px; height:7px; margin:0 5px; border-radius:7px; cursor:pointer; /* 마우스 손가락 나오는 기능 */ transition:.3s;}
#mainImg .pager li.active {background:#8b0000; width:30px;}

/* 푸터 */
footer {width:100%; height:50px; background:#fff; position:absolute; bottom:0;}
footer h4 img {width:46px; display:inline-block; float:left;margin-left:24px;margin-top:1px;}
footer p {color:#000 !important; font-size:14px; float:left; margin-left:16px; position:relative; top:-15px;}
#sns {float : right; margin-right:24px;margin-top:10px;}
#sns li {display:inline-block;}